<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Standot</title>
    <meta name="description" content="Scrum Daily Standup Manager">
    <meta name="keywords" content="scrum daily standup bot chatbot matrix riot.im">
    <link rel="canonical" href="">

    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/normalize-css/normalize.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/highlight/styles/github.css">
    <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.css">
  </head>

  <body>
    <div class="wrapper">

      <header class="header">
        <div class="navigation">
          <a href="/" class="logo">Standot</a>

          <ul class="menu">
            <li class="menu__entry"><a href="/today">Today</a></li>
            <li class="menu__entry"><a href="/standups">Standups</a></li>
            <li class="menu__entry"><a href="/participants">Participants</a></li>
          </ul>
        </div>

        <ul class="social-links">
          <a href="/settings" class="social-links__entry" target="_blank">
            <i class="fa fa-cogs"></i>
          </a>
        </ul>
      </header>

      <%= yield %>
    </div>

    <script src="/assets/highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

  </body>
</html>
