<h1 class="page-title">
  <div class="page-title__text">Participants</div>
  <div class="page-title__subtitle">Standup participants. Click dates to navigate.</div>
</h1>

<ul class="list-posts">
  <% users.each do |user| %>
    <li class="post-teaser">
      <a href="<%= "#{user.slug}" %>">
        <span class="post-teaser__title"><%= user.display_name %><%= "#{user.user_id} *" unless user.verified? %></span>
        <span class="post-teaser__date"><%= user.last_seen.strftime("%Y, %b %d") %></span>
      </a>
    </li>
  <% end %>
</ul>
