<h1 class="page-title post-title">
    <div class="page-title__text post-title__text">Register</div>
    <div class="page-title__subtitle post-title__subtitle">Register a new participant to the standup loop</div>
</h1>

<h2>
  <center>
    <form action="/create" method="post">
      <input type="text" name="user_id" placeholder="@user:matrix.org">
      <input type="submit" value="Register">
    </form>

  </center>

  <h1 class="page-title post-title">
    <div class="page-title__text post-title__text">Remove</div>
    <div class="page-title__subtitle post-title__subtitle">Remove participants from standup loop.</div>
  </h1>

    <ul class="list-posts">
      <% users.each do |user| %>
        <li class="post-teaser">
          <span class="post-teaser__title"><%= user %></span>
          <a href="/settings/remove/<%= "#{user}" %>">
            <span class="post-teaser__date">Remove</span>
          </a>
        </li>
      <% end %>
    </ul>
</h2>
