<h1 class="page-title post-title">
    <div class="page-title__text post-title__text"><%= user %></div>
    <div class="page-title__subtitle post-title__subtitle">Standup for <%= date.strftime("%A, %b %d") %></div>
</h1>

<% answers.each do |answer| %>
  <h2>
    <%= answer[:question] %>
  </h2>
  <p>
    <%= Rack::Utils.escape_html(answer[:answer]) %>
  </p>
<% end %>
