<h1 class="page-title post-title">
  <div class="page-title__text post-title__text">Standups</div>
  <div class="page-title__subtitle post-title__subtitle">Standup records for <%= month %></div>

  <ul class="categories">
    <% years.each do |y| %>
      <li class="categories__item"><a href="/standups/<%= y.to_s %>/1"><%= y.to_s %></a></li>
    <% end %>
  </ul>

  <ul class="categories">
    <% months.each do |month| %>
      <li class="categories__item"><a href="/standups/<%= year.to_s %>/<%= month.last %>"><%= month.first %></a></li>
    <% end %>
  </ul>
</h1>

<ul class="list-posts">
  <% dates.each do |date| %>
    <li class="post-teaser">
      <a href="/day/<%= "#{date.strftime("%Y/%m/%d")}" %>">
        <span class="post-teaser__title"><%= date.strftime("%A, %b %d") %></span>
        <span class="post-teaser__date"><%= date.strftime("%Y/%m/%d") %></span>
      </a>
    </li>
  <% end %>
</ul>
