<h1 class="page-title">
  <div class="page-title__text"><%= user %></div>
  <div class="page-title__subtitle">Standup History</div>

  <ul class="categories">
    <% years.each do |y| %>
      <li class="categories__item"><a href="/<%= slug %>/<%= y.to_s %>/1"><%= y.to_s %></a></li>
    <% end %>
  </ul>

  <ul class="categories">
    <% months.each do |m| %>
      <li class="categories__item"><a href="/<%= slug %>/<%= year.to_s %>/<%= m.last %>"><%= m.first %></a></li>
    <% end %>
  </ul>
</h1>

<ul class="list-posts">
  <% days.each do |day| %>
    <li class="post-teaser">
      <a href="<%= "/#{slug}/#{day.strftime("%Y/%m/%d")}" %>">
        <span class="post-teaser__title"><%= day.strftime("%A, %b %d")%></span>
        <span class="post-teaser__date"><%= day.strftime("%Y/%m/%d") %></span>
      </a>
    </li>
  <% end %>
</ul>
